.dashboard-header{

    display:flex;

    justify-content:space-between;

    align-items:center;

    flex-wrap:wrap;

    margin-bottom:20px;
}

#studentGreeting{

    font-size:32px;

    font-weight:bold;
}

#studentName{

    color:gray;

    font-size:18px;
}

@media(max-width:768px){

    .dashboard-header{

        display:block;
    }

    #studentGreeting{

        font-size:24px;
    }
}